.vs/
.abnormal

/config/*
!/config/ftbquests/
!/config/tweakermore.json

crash-reports/
defaultconfigs/
downloads/
local/
logs/
natives-windows-x86_64/
patchouli_books/
saves/
schematics/
tlm_custom_pack/
参考/

LoveNest.jar
LoveNest.json
log4j2.xml
options.txt
usercache.json
usernamecache.json
hmclversion.cfg

config/*.zip
config/flywheel*
config/yes_steve_model/
command_history.txt
patchouli_data.json
config/flywheel-client.toml
config/flywheel-client-*.toml.bak
config/embeddium-fingerprint.json

.probe
