.vs/
.abnormal
.mixin.out/
.vscode/recipe.json

/config/*
!/config/ftbquests/
!/config/tweakermore.json

natives-linux-x86_64/
crash-reports/
defaultconfigs/
downloads/
local/
logs/
natives-windows-x86_64/
patchouli_books/
saves/
schematics/
tlm_custom_pack/
参考/

touhoulittlemaid-1.3.8-neoforge+mc1.21.1.jar
foand-1.0-SNAPSHOT.jar
LoveNest.jar
mafglib-0.4.1+mc1.21.1.jar
tweakermoreforge-0.0.8-mc1.21.1.jar

LoveNest.json
usercache.json
usernamecache.json
log4j2.xml
options.txt
hmclversion.cfg

config/*.zip
config/flywheel*
config/yes_steve_model/
command_history.txt
patchouli_data.json
config/flywheel-client.toml
config/flywheel-client-*.toml.bak
config/embeddium-fingerprint.json

.probe
/screenshots
/.mixin.out
probe.code-snippets
kubejs/config/probe-settings.json
kubejs/config/client.json

Minecraft-Mod-Language-Modpack-Converted-1.21.1.zip

icon.png